 <a href="/newshoppinglist"><div class="col-lg-3">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-folder-open fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-text">New Shopping List</p>
                  </div>
                </div>
              </div>
              </div>
		   </div></a>
		  <a href="/fullList"><div class="col-lg-3">
            <div class="panel panel-success">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-file-text fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">                    
                    <p class="announcement-text"> My Current Lists </p>
                  </div>
                </div>
              </div>
              </div>
          </div></a>
          <a href="/dashboard"><div class="col-lg-3">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-home fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-text"> Home </p>
                  </div>
                </div>
              </div>
              </div>
          </div></a>
		  <a href="/deletelist"><div class="col-lg-3">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-trash-o fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">                    
                    <p class="announcement-text">Delete a List</p>
                  </div>
                </div>
              </div>
              </div>
       </div></a> 