{% extends 'base.html' %}

{% block body %}
    
      <div style="padding: 45px 45px 0px 45px;">
        <div class="row">
          <div class="col-lg-12">
            <h1><i class="fa fa-pencil"></i> <small>Modify a List</small></h1>          
            <div class="alert alert-success" align="center">
               Select a list to edit <i class="fa fa-smile-o fa-1x "></i> ! 
			</div>
          </div>
       
		  {% include 'includes/_menu4.html' %}

	    </div><!-- /.row -->
       
<div class="row">
      <div class="col-md-9 col-lg-offset-1">  
           <div id="welcome" class="panel panel-success">
             
         <div class="panel-heading">
          <h3 class="panel-title">New Shopping List </h3>
         </div>
         <div class="panel-body">
          <form action="/editlist" method="POST">
            <div class="form-group">
            
          <input type="text" name="shoppinglist_id" value={{ item.listid }} hidden="TRUE">
          </div>
          <div class="form-group">
            <label>Shopping List Name</label>
          <input name="shoppinglist" type="text" class="form-control" value= {{ item.shoppinglist}}>
          </div>
           <div class="form-group">
            <label>Shopping Description</label>
          <input name="description" type="text" class="form-control" value= {{ item.description}}>
          </div>
          <div class="form-group">
            <label>Items</label>
          <input name="items" type="text" class="form-control" value= {{ item.items}}>
          </div>
          
          <div class="form-group">
            <label>Status</label>
          <input name="status" type="text" class="form-control" value="Updated" readonly>
          </div>
            
          <div>
          <br/>
          <button type="submit" name="update" value="update" class="btn btn-large btn-success">Update</button><br/>
          </div>
        </form>           
         </div>
          </div>
      </div>
        </div>
  
		 	</div>
		   </div>
        </div><!-- /.row -->
			
   	  </div><!-- /#page-wrapper -->
 {% endblock %}   

                    
						
					
	