{% extends 'base.html' %}

{% block body %}

      <div style="padding: 45px 45px 0px 45px;">

        <div class="row">
          <div class="col-lg-12">
            <h1><i class="fa fa-file-text"></i><small> All My Shopping Lists</small></h1>          
            <div class="alert alert-success alert-dismissable" align="center">
             My Shopping Lists <i class="fa fa-smile-o fa-1x "></i> ! 
			      </div>
          </div>
       
		  {% include 'includes/_menu3.html' %}
           
	      </div><!-- /.row -->
        <div class="row">
			  <div class="col-md-10 col-lg-offset-1">  
	       <div id="welcome" class="panel panel-success">
			   <div class="panel-heading">
				 <h3 class="panel-title">My Shopping Lists </h3>
			   </div>
			   
			    <div class="panel-body">
                            <div >
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th width="13%">ID </th>
                                            <th width="17%">Shopping List Name</th>
                                            <th width="13%">Description</th>
                                            <th width="13%">Status</th>
                                            <th width="13%">Items</th>
                                            <th width="13%">Date added </th>
                                            
											                      <th width="20%">Action </th>
                                        </tr>
                                        
                                    </thead>
                                    <tbody>  
                          {% for item in  list_items %}
                            <tr>
                              <td>{{ item.listid }}</td>
                              <td>{{ item.shoppinglist }}</td>
                              <td>{{ item.description }}</td>  
                              <td>{{ item.status }}</td> 
                              <td>{{ item.items }}</td> 
                              <td>{{ item.dateadded }}</td>                        
                              <td>
<a href="/editlist"><input type="button" value="Edit" class="btn btn-success" onclick="editlist.html"></a>
<input type="button" value="Delete" class="btn btn-danger" onclick="">

                            </td>
                            </tr>                                      
                          {% endfor %}                                     
								                  </tbody>          
                              </table>
                            </div>
		        </div>
		 	    </div>
		      </div>
          </div><!-- /.row -->
			
   	  </div><!-- /#page-wrapper -->

      <script>

 {% endblock %}  
                    
						
					
	