<!DOCTYPE html>
<html lang="en">
 <head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="login page">
    <meta name="author" content="George Wafula">
	
	<title>Shopping Cart</title>

	<!-- CSS --> 
	
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">	
 </head>
 
 <body>
 
	<!-- Login Section -->
	
	  <div class="container">
	  	
		<div class="row" style="padding-top: 60px ">
		 <div class="col-lg-6">
		 <i class="fa fa-shopping-cart fa-5x text-center"></i>
		   <h2><b>Shopping Cart</b></h2>
		   	<p>Shopping cart is a shopping list application that bridges the challenge of keeping track of shopping items which is a need for many individuals,
			most people plan on what to shop on but unfortunately fail to remember the items whenever they shop </p> 
			<p> This has happend to most of us, right...?</p>
			<p>This innovative shopping list application allows users to record and share things they want to spend money on, keeping track of their shopping lists.</p>
			
			<p><b>Register</b> to start your experience or <b>login</b> to continue... </p> 
		 </div>
		 <div class="col-lg-4 col-lg-offset-2" style="background-color:black; padding-bottom: 20px;color: #fff">
			<form> 
			<br/>
			<i class="fa fa-user fa-5x " style="padding-left: 150px"></i>
			<br/>
			<div class="form-group">
			    <label>Username</label>
				<input name="username" type="text" class="form-control" placeholder="Enter Username...">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input name="password" type="password" class="form-control"  placeholder="Enter Password...">
			</div>
			<div>
			<br/>
			   <button type="submit" name="login" class="btn btn-block btn-success">LOGIN</button></br>
			   <a href="/register" class="btn btn-block btn-success">REGISTER</a>
			</div>
			</form>
		 </div><!-- /.col-lg-4 -->
		</div><!-- /.row -->	
	  </div><!-- /.container -->
	


 </body>
</html>
