{% extends 'base.html' %}

{% block body %}

      <div style="padding: 45px 45px 0px 45px;">

        <div class="row">
          <div class="col-lg-12">
            <h1><i class="fa fa-folder-open"></i> <small>New shopping list</small></h1>          
            <div class="alert alert-success " align="center">Create A Shopping list! 
			</div>
          </div>
       
{% include 'includes/_menu2.html' %}

        </div><!-- /.row -->
        <div class="row">
			<div class="col-md-9 col-lg-offset-1">  
	         <div id="welcome" class="panel panel-success">
			   <div class="panel-heading">
				  <h3 class="panel-title">New Shopping List </h3>
			   </div>
			   <div class="panel-body">
			    <form action="" method="POST" class="newlist">
				  <div class="form-group">
				    <label>Shopping List Name</label>
					<input name="shoppinglist" type="text" class="form-control" placeholder="Shopping List Name...">
				  </div>
				  <div class="form-group">
				    <label>Description</label>
					<textarea name="description" rows="2" class="form-control" placeholder="Short Description of this shopping list..."></textarea>
				  </div>
				  <div class="form-group">
				    <label>Items</label>
					<input name="items" type="text" class="form-control" placeholder="Add items...">
				  </div>
				  <div>
				  <br/>
				  <button type="submit" name="register" class="btn btn-large btn-success">CREATE</button><br/>
				  </div>
				</form>			    	
			   </div>
		      </div>
		 	</div>
        </div><!-- /.row -->
			
   	  </div><!-- /#page-wrapper -->
   <script type="text/javascript">
$(document).ready(function() {
    $('.newlist').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
        	shoppinglist: { 
        		validators: {
                    notEmpty: {
                        message: 'Shopping list name is required and cannot be empty'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z '0-9]+$/,
                        message: 'The Shopping list name can only consist of alphabets, aposrophies and/or numbers' 
                    }
                }
                    },
            description: {
                validators: {
                    notEmpty: {
                        message: 'Description is required and cannot be empty'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z '0-9]+$/,
                        message: 'The description can only consist of alphabets, aposrophies and/or numbers' 
                    }}},        
            items: {
                message: 'Enter Items',
                validators: {
                    notEmpty: {
                        message: 'items required and cannot be empty'
                    },
                   
                    
                }
            },
            
          
        
                    
                }
            
        
    });
});
</script>
{% endblock %}  
