<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="page for creating a new bucketlist ">
    <meta name="author" content="George Wafula">

    <title>Shopping Cart</title>
	
	<!-- CSS --> 
    
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <body>
    <div>
      <nav class="navbar navbar-inverse navbar-fixed-top">  
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"><i class="fa fa-shopping-cart"></i> Shopping Cart</a>
		  </div>
      </nav>

      <div style="padding: 45px 45px 0px 45px;">

        <div class="row">
          <div class="col-lg-12">
            <h1><i class="fa fa-folder-open"></i> <small>New shopping list</small></h1>          
            <div class="alert alert-success " align="center">Create A Shopping list! 
			</div>
          </div>
       
		  <a href="/dashboard"><div class="col-lg-3">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-home fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">                    
                    <p class="announcement-text">Home</p>
                  </div>
                </div>
              </div>
              </div>
		   </div></a>
		  <a href="/fullList"><div class="col-lg-3">
            <div class="panel panel-success">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-file-text fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">              
                    <p class="announcement-text">My Current Lists </p>
                  </div>
                </div>
              </div>
              </div>
          </div></a>
          <a href="/editlist"><div class="col-lg-3">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-pencil fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">                    
                    <p class="announcement-text">Modify a List </p>
                  </div>
                </div>
              </div>
              </div>
          </div></a>
		  <a href="/deletelist"><div class="col-lg-3">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-trash-o fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">                    
                    <p class="announcement-text">Delete a List</p>
                  </div>
                </div>
              </div>
              </div>
          </div></a>
        </div><!-- /.row -->
        <div class="row">
			<div class="col-md-9 col-lg-offset-1">  
	         <div id="welcome" class="panel panel-success">
			   <div class="panel-heading">
				  <h3 class="panel-title">New Shopping List </h3>
			   </div>
			   <div class="panel-body">
			    <form>
				  <div class="form-group">
				    <label>Shopping List Name</label>
					<input name="shoppinglist" type="text" class="form-control" placeholder="Shopping List Name...">
				  </div>
				  <div class="form-group">
				    <label>Description</label>
					<textarea name="description" rows="4" class="form-control" placeholder="Short Description of this shopping list..."></textarea>
				  </div>
				  <div class="form-group">
				    <label>Items</label>
					<input name="activity" type="text" class="form-control" placeholder="Add item...">
				  </div>
				  <div class="form-group">
				    <label>Status</label>
					<input name="status" type="text" class="form-control" value="New" readonly>
				  </div>
				  <div class="form-group">
				    <label>Date Added</label>
					<input name="dateadded" type="text" class="form-control" >
				  </div> 
				  <div>
				  <br/>
				  <button type="submit" name="register" class="btn btn-large btn-success">CREATE</button><br/>
				  </div>
				</form>			    	
			   </div>
		      </div>
		</div>
        </div><!-- /.row -->
		
   	</div><!-- /#page-wrapper -->
    </div><!-- /#wrapper -->
     
  </body>
</html>

