<!DOCTYPE html>
<html lang="en">
 <head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="registration page">
    <meta name="author" content="George Wafula">
	
	<title>Shopping Cart</title>

	<!-- CSS --> 
	
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   
	
 </head>
 
 <body>
	
	<!-- Registration Section -->
	<div class="container">
	
	 <div class="row" style="padding-top: 60px ">
	    <div class="col-lg-6">
		  <i class="fa fa-shopping-cart fa-5x text-center"></i>
	       <h2><b>Shopping Cart</b></h2>
		   	<h4><p><b>Register</b> to start your experience <i class="fa fa-smile-o fa-2x "></i>... </p> </h4>
	     </div>
	     <div class="col-lg-4 col-lg-offset-2" style="background-color:black; padding-bottom: 20px;color: #fff">
			<form action="/register" method="POST"> 
			<br/>
			<i class="fa fa-user-plus fa-5x text-center" style="padding-left: 150px"></i>
			<br/>
			  <div class="form-group">
				<label>First Name</label>
				<input name="firstname" type="text" class="form-control" placeholder="Enter First Name...">
			  </div>
			  <div class="form-group">
				<label>Last Name</label>
				<input name="lastname" type="text" class="form-control"  placeholder="Enter Last Name...">
			  </div>
			   <div class="form-group">
				<label>Email</label>
				<input name="email" type="email" class="form-control"  placeholder="Enter Email...">
			  </div>
			   <div class="form-group">
				<label>Username</label>
				<input name="username" type="text" class="form-control"  placeholder="Enter Preferred Username...">
			  </div>
			   <div class="form-group">
				<label>Password</label>
				<input name="password" type="password" class="form-control"  placeholder="Enter Password...">
			  </div>
			   <div class="form-group">
				<label>Repeat Password</label>
				<input name="password" type="password" class="form-control"  placeholder="Repeat Password...">
			  </div>
			  <div>
			  <br/>
			    <button type="submit" name="register" class="btn btn-block btn-success full-width">REGISTER</button></br>
			    <a href="/" class="btn btn-block btn-success full-width">BACK</a>			  
			  </div>
			  </form>
			</div><!-- /.col-lg-4 -->
		   </div><!-- /.row -->	
		  </div><!-- /.container -->
         </div>
     </div>
	</body>
</html>
